body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 35px;
  height: 30px;
  margin-left: 172px;

}

.nav-links {
  display: flex;  

}
.nav-links a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 12px;
  margin: 45px;
}

h1 {
  text-align: center;
  font-family: sans-serif;
  font-size: 100px;
  color: white;
  margin-top: 220px;

 }

.subheading {
  font-size: 18px;
  letter-spacing: 2px;
  text-align: center;
  color: white;  
  position:relative;
  bottom: 70px;

}


.register-for-free {
  background-color: #c271ff;
  color: aliceblue;
  border-radius: 22px;
  border-style: none;
  height: 44px;
  width: 162px;
  font-weight: bold;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3);
}
.container-reg {
  display: flex;
  justify-content: center;
  align-items: center;
  position:relative;
  bottom: 45px;



}
h2{
  text-align: center;
  margin-top: 100px;
  font-size: 32px;
}
.pictures{
  display: flex;
  justify-content: center;
  justify-content: space-around;
  margin-top: 100px;
  gap: 5px;
}

header{
  background-size: cover;
  background-position: horizontal-position;
  background-repeat: no-repeat;
  background-attachment: fixed;
 
}
.background-img{
  background-image: url(../images/Object.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: overlay;
  height: 1093px;
  background-position: center;
}
.bruce-img{
  border-radius: 200px;
}

.Smile-of-the-year{
  position: relative;
  bottom: 10px;
  color: white;
  width: 150px;
  text-align: center;
  font-family: sans-serif;
  font-style: italic;
  font-weight: bold;
}
.little-smile{
  position: relative;
  bottom: 10px;
  color: white;
  width: 150px;
  text-align: center;
  font-family: sans-serif;
  font-style: italic;
  font-weight: bold;



}

.Friend-Smile{
  position: relative;
  bottom: 10px;
  color: white;
  width: 150px;
  text-align: center;
  font-family: sans-serif;
  font-style: italic;
  font-weight: bold;


}

.pink-sec{
  background-color: #c271ff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 292px;
}

.pink-sec blockquote {

  width: 500px;
  color: white;
  text-align:left;
  font-family: sans-serif;
  line-height: 33.6px;
  


}
.pink-sec h3{
  color: white;
  position: relative;
  left: 40px;
  font-weight: bolder;
  font-family: sans-serif;

}
.pink-sec p {
  position: relative;
  left: 40px;
  color: white;
font-style: italic;
  font-family: sans-serif;
  font-weight: lighter;
  position: relative;
  bottom: 20px;



}
.alignment {
  display: flex;
  justify-content: center;
  justify-items:start;
  flex-direction: column;
  width: 730px;
  



}